<div class="adminLogin">
  <div class="nav-menu">
    <a class="btn btn-primary" href="#" role="button">Reset</a>
    <a class="btn btn-primary" href="/" role="button">Logout</a>
  </div>
  <div class="overlay2">
  </div>
  <div class="card-group text-align-center">
    {{#each day}}
    <div class="card text-white bg-primary mb-3 mr-2" style="max-width: 20rem;">
    <div class="card-header"><h5>{{this}}</h5></div>
      <div class="card-body">
        <h6 class="card-title">Subscriptions: <span class="badge badge-secondary">{{counter}}</span></h6>
      </div>
    </div>
    {{/each}}
  </div>
</div>
