<div class="imageWrap">
  <div class="overlay">
  </div>
    <div class="forms">
      <form class="form-inline" action="index.html" method="post">
        <div class="form-group f1">
          <input type="email" class="form-control" placeholder="Enter username">
          <input type="password" class="form-control" placeholder="Password">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
      <form action="index.html" method="post">
        <div class="form-group f2">
          <h2>Register as a new employee</h2>
          <label for="firstname">Firstname:</label>
          <input class="form-control inReg" type="text" id="firstname" placeholder="Enter your name"><br>
          <label for="surname">Surname:</label>
          <input class="form-control inReg" type="text" id="surname" placeholder="Enter your surname"><br>
          <label for="pass">Create new password:</label>
          <input class="form-control inReg" type="password" id="pass" placeholder="Enter new password"><br>
          <label for="confirm">Confirm new password:</label>
          <input class="form-control inReg" type="password" id="confirm" placeholder="Confirm password"><br>
          <button class="btn btn-primary" type="submit" name="register">Submit registration</button>
        </div>
      </form>
    </div>

</div>
