<div class="overlay">
</div>
<div class="forms">
  <form class="form-inline" action="/home/login" method="post">
    <div class="form-group f1">
      <input type="text" name="username" required class="form-control ff1" placeholder="Enter username">
      <input type="password" name="password" required class="form-control ff1" placeholder="Password">
      <button type="submit" class="btn btn-primary">Sign in</button>
      {{#if messages.failedLogin}}
        <small class="alert-warning">messages.failedLogin</small>
      {{/if}}
    </div>
  </form>
  <form action="/home/registration" method="post">
    <div class="form-group f2">
      <h2 class="heading">Register as a new employee</h2>
      <label for="firstname">Firstname:</label>
      <input class="form-control inReg" required name="firstname" type="text" id="firstname" placeholder="Enter your name"><br>
      <label for="username">Username:</label>
      <input class="form-control inReg" required name="username" type="text" id="username" placeholder="Enter your surname"><br>
      {{#if messages.duplicateUser}}
        <small id="newUser"class="alert-warning">{{messages.duplicateUser}}</small>
      {{/if}}
      <label for="pass">Create new password:</label>
      <input class="form-control inReg" required name="pass" type="password" id="pass" placeholder="Enter new password"><br>
      <label for="confirm">Confirm new password:</label>
      <input class="form-control inReg" required name="confirm" type="password" id="confirm" placeholder="Confirm password"><br>
      {{#if messages.mismatch}}
        <small id="mismatch" class="invalid alert-warning">{{messages.mismatch}}</small>
      {{/if}}
      <button class="btn btn-primary" type="submit">Submit registration</button>
      {{#if messages.regSuccess}}
        <div id="regSuccess" class="alert alert-success" role="alert">
          {{messages.regSuccess}}
        </div>
      {{/if}}
    </div>
  </form>
</div>
