nav{
  background-color: #00AF84;
  height: 97px;
  padding-bottom: 0px;
}
.navbar-form{
  height: 65px;
  padding-top: 10px;
  margin-left: auto;
}
.feedback{
  height: 23px;
  width: 100%;
  margin-top: 5px;
  margin-left: 1px;
}
.f1{
  margin: 0px;
}
#nav-container{
  margin-right: 50px;
}
small{
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  width:max-content;
  width: -moz-max-content;
}
h2{
  margin-top: 20px;
  width: -moz-max-content;
  display: block;
  text-align: right;
  text-shadow: 2px 2px 6px white;
}
.f2{
  text-shadow: 2px 2px 6px white;
  font-weight: bold;
}
.overlay{
  position: absolute;
  background-image: url("bgpic.jpg");
  background-size: 100% 95%;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  -webkit-filter: blur(6px);
  z-index: -15;
}
/*
.f1{
  line-height: 90px;
  vertical-align: middle;
}
.ff1{
  margin-right: 5px;
  vertical-align: bottom;
}
.f2{
  color: Black;
  font-weight: bold;
  text-shadow: 2px 2px 6px white;
  opacity: 1;
  padding: 10px;
  margin-left: 103px;
}
.inReg{
  width: 250px;
}
.overlay{
  background-image: url("bgpic.jpg");
  background-size:100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: blur(6px);
}
.overlay2{
  position: relative;
  background-color: red;
  width: 100%;
  height: 100%;
}
.updateDays{
  display: block;
  margin: auto;
  margin-top: 30px;
}
.userLogin, .btn-group{
  padding-top: 15px;
  text-align: center;
  align-items: center;
}
.adminLogin{

}
#logout{
  position: fixed;
  top:25px;
  left:1000px;
}
#welcome{
  margin-top: 10px;
}
.heading{
  padding-bottom: 10px;
}
#loader{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 5px solid #ccc;
  border-top-color: #00AF84;
  margin: 30px auto;
  animation: goround 1s linear infinite;
}
@keyframes goround{
  from{transform: rotate(0deg)}
  to{ transform: rotate(360deg)}
}
#feedback{
  width: 250px;
  margin: 30px auto;
  display: none;
}
#regSuccess{
  margin-top: 10px;
  text-align: center;
}
#mismatch{
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 15px;
  width: 330px;
  text-align: center;
  border-radius: 2px;
}
#newUser{
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 15px;
  width: 190px;
  text-align: center;
  border-radius: 2px;
}
#failedLogin{
  display: block;
  position: fixed;
  margin-top: -48px;
  font-size: 15px;
  width: 250px;
  text-align: center;
  border-radius: 2px;
}
.card-body{
  padding-left: 10px;
  padding-right: 10px;
}
.days{
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
}*/
